@import "tailwindcss";

@theme {
  --color-lavender: #eae8ff;
  --color-alabaster: #d8d5db;
  --color-pale-slate: #adacb5;
  --color-jet-black: #2d3142;
  --color-icy-blue: #b0d7ff;
}

body {
  background-color: var(--color-jet-black);
  color: var(--color-lavender);
}